@import '../../bower_components/swiper/dist/css/swiper.min.css'
@import '../../bower_components/normalize.css/normalize.css'

.clearfix:after 
    visibility: hidden
    display: block
    font-size: 0
    content: " "
    clear: both
    height: 0

.clearfix   
    display:inline-table
    height:1%
    display:block

#loading 
    background:url("/static/image/299.gif") no-repeat
    background-color:rgba(0,0,0,0.8)
    background-position:center
    background-size:auto
    position:absolute
    width:100%
    height:100%
    z-index:100000


@-webkit-keyframes ratote 
    0% 
        -webkit-transform:rotate(0deg)
    
    100% 
        -webkit-transform:rotate(360deg)
    
@-webkit-keyframes up-animation 
    0%,100% 
        -webkit-transform:scale(1)
        opacity:.9
    
    1%,99% 
        -webkit-transform:translateY(0)
    
    49% 
        -webkit-transform:translateY(-15px)
    
    50% 
        opacity:0
        -webkit-transform:scale(0.2)
    
@-webkit-keyframes title 
    0% 
        -webkit-transform:translateY(-1rem) scale(2)
    
    100% 
        -webkit-transform:translateY(0) scale(1)

animation(time,name,delay) 
    -webkit-animation-duration:time
    -webkit-animation-name:name
    -webkit-backface-visibility: hidden
    -webkit-animation-timing-function: ease
    -webkit-animation-fill-mode: both
    -webkit-animation-delay:delay
* 
    -webkit-user-select: none
    -ms-user-select: none
    -moz-user-select: none
    -khtml-user-select: none
    user-select: none
    -webkit-touch-callout:none
    -webkit-tap-highlight-color:transparent
    -webkit-font-smoothing:antialiased

background(image) 
    height:100%
    width:100%
    position:relative
    background-image:url('/static/image/'+image)
    background-repeat:no-repeat
    background-position:bottom center
    background-size:100% 100%
    z-index:1

image-wauto(image) 
    background-image:url('/static/image/'+image)
    background-repeat:no-repeat
    background-position:top center
    background-size:100% auto

image-hauto(image) 
    background-image:url('/static/image/'+image)
    background-repeat:no-repeat
    background-position:top center
    background-size:auto 100%

image-fit(image) 
    background-image:url('/static/image/'+image)
    background-repeat:no-repeat
    background-position:top center
    background-size:100% 100%

.up 
    -webkit-animation-name:up-animation
    -webkit-animation-duration: 1.5s!important
    -webkit-animation-timing-function: ease
    -webkit-animation-iteration-count:infinite
    -webkit-animation-fill-mode:both
    image-wauto('up.png')
    height:0.08rem
    width:0.06rem
    position:absolute
    bottom:0
    z-index:5
    left:0.47rem

.music 
    image-wauto('music.png')
    width:0.08rem
    height:0.08rem
    z-index:5
    top:0.1rem
    position:absolute
    left:0.03rem

.music-play                                                                    
    -webkit-animation-name:ratote
    -webkit-backface-visibility: hidden
    -webkit-animation-duration: 3s 
    -webkit-animation-timing-function: linear
    -webkit-animation-iteration-count:infinite
    -webkit-animation-fill-mode: both

.ng-cloak
    display:none


body 
    width:100%
    height:100%
    position:absolute
    font-size: 14px
    color: #333 
    font-family: '微软雅黑'
    background-color: #fff
    letter-spacing: 1px
    margin:0 auto
    box-shadow: 0 0 160px 0 #5C99E7
    -webkit-user-select: none
    background-size:cover
    box-sizing:border-box
    -webkit-transition:all .5s
    .copy
        background-color:rgba(0,0,0,0.7)
        width:100%
        height:100%
        position:fixed
        z-index:100000
        line-height:1rem
        color:#fff
        text-align:center
    .page
        position:absolute
        width:100%
        height:100%
        z-index:100
    .blur
        -webkit-filter:blur(3px)
        overflow:hidden
    .details
        position:absolute
        width:100%
        height:100%
        background-color:rgba(0,0,0,0.6)
        &.true
            z-index:1000
        
        .main
            text-align:center
            font-size:0.04rem
            color:#fff
            position:absolute
            width:80%
            height:75%
            left:10%
            top:15%
            .close
                image-wauto('close.png')
                width:0.06rem
                height:0.07rem
                position:absolute
                top:-0.035rem
                right:-0.03rem
            .info
                overflow:hidden
                position:relative
                width:100%
                height:100%

                .product-list-view
                    .title
                        font-size:0.052rem
                        width:0.5rem
                        margin:0.04rem auto
                        padding:0.01rem
                        position:relative
                        text-align:center
                        .border
                            border-left:1px solid #fff
                            border-bottom:1px solid #fff
                            position:absolute
                            bottom:0
                            height:50%
                            width:100%
                    &.com
                        .title
                            width:0.75rem
                    &.leader
                        .title
                            width:0.8rem
                            font-size:0.04rem
                .ele-info
                    position:relative
                    width:100%
                    height:100%
                    .title
                        font-size:0.052rem
                        width:0.8rem
                        margin:0.04rem auto
                        padding:0.01rem
                        position:relative
                        text-align:center
                        &.leader
                            font-size:0.04rem
                        .border
                            border-left:1px solid #fff
                            border-bottom:1px solid #fff
                            position:absolute
                            bottom:0
                            height:50%
                            width:100%
                    ::-webkit-scrollbar
                        width:0.02rem
                    ::-webkit-scrollbar-thumb
                        background-color:#14d6f6
                        color:#14d6f6
                    ::-webkit-scrollbar-track
                        background-color:rgba(0,0,0,0.4)
                        color:rgba(0,0,0,0.4)
                    .ele-desc
                        &.leader
                            text-align:left
                        position:absolute
                        width:100%
                        text-align:left
                        height:89%
                        background-color:rgba(0,0,0,0.4)
                        overflow:scroll

                        .pos
                            width:100%
                        .desc
                            margin:0.02rem
                            font-size:0.04rem
                            color:#fff
                            text-align:left
                            word-break:break-all
                            -webkit-user-select:initial
                
        .tools
            position:absolute
            width:100%
            bottom:0
            height:7%
            .tool-bar
                position:absolute
                right:0
                .back-tool
                    image-wauto('back-tool.png')
                    width:0.05rem
                    height:0.06rem
                    margin:0.02rem
                    display:inline-block
                .copy-tool
                    image-wauto('copy-tool.png')
                    width:0.05rem
                    height:0.06rem
                    margin:0.02rem
                    display:inline-block

                .up-tool
                    image-wauto('up-tool.png')
                    width:0.05rem
                    height:0.06rem
                    margin:0.02rem
                    display:inline-block

    .nav 
        image-wauto('nav.png')
        width:100%
        height:0.2rem
        position:absolute
        z-index:2
        top:0
    .page
        height:100%
    .page1 
        .background 
            background('background1.jpg')
            background-size:100% auto
            background-position:center
        .bottom
            position:absolute
            width:100%
            height:0.5rem
            bottom:0
            z-index:5
            .finger
                image-wauto('finger.png')
                width:0.25rem
                height:0.25rem
                margin:0 auto
            .text
                image-wauto('text1.png')
                height:0.15rem
                background-position:center
    .page2
        display:none                    
        .background 
            background('background2.jpg')
            background-position:center
            height:initial
            min-height:100%
        .bottom
            height:1rem
            width:100%
            image-wauto('p2-bottom.png')
            background-position:bottom
            bottom:0
            z-index:3
        .upside
            padding-top:20%
            top:0
            z-index:3
            width:100%
            .btn-line
                position:relative
                padding-top:0.04rem
                .left,.right
                    display:inline-block
                    width:50%
                    position:relative
                    > .button
                        color:#fff
                        background-color:transparent
                        border:1px solid #fff
                        height:0.1rem
                        line-height:0.1rem
                        font-size:0.06rem
                        border-radius:0.1rem
                        width:0.4rem
                        text-align:center
                        &:active
                            box-shadow:1px 1px 3px #00589f
                            box-shadow:1px 1px 3px #00589f inset
                .left
                    > .button
                        margin:0 0.02rem 0 0.08rem
                .right
                    > .button
                        margin:0 0.08rem 0 0.02rem
